:host[type="primary"] button {
  background-color: dodgerblue;
  color: white;
  width: 150px;
  height: 50px;
}

:host[type="secondary"] button {
  background-color: forestgreen;
  color: white;
  width: 150px;
  height: 50px;
}
